/* Basic Styling */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
  }
  
  /* Columns */
  .left-column {
    width: 65%;
    position: relative;
  }
  
  .right-column {
    width: 35%;
    margin-top: 60px;
  }
  
  
  /* Left Column */
  .left-column img {
    width: 95%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  .left-column img.active {
    opacity: 1;
  }
  
  
  /* Right Column */
  
  /* Product Description */
  .product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
  .product-description span {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
  }
  .product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
  }
  
  /* Product Configuration */
  .product-color span,
  .cable-config span {
    font-size: 14px;
    font-weight: 400;
    color: #86939E;
    margin-bottom: 20px;
    display: inline-block;
  }
  
  /* Product Color */
  .product-color {
    margin-bottom: 30px;
  }
  
  .color-choose div {
    display: inline-block;
  }
  
  .color-choose input[type="radio"] {
    display: none;
  }
  
  .color-choose input[type="radio"] + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .color-choose input[type="radio"] + label span {
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
  }
  
  .color-choose input[type="radio"]#red + label span {
    background-color: #C91524;
  }
  .color-choose input[type="radio"]#blue + label span {
    background-color: #314780;
  }
  .color-choose input[type="radio"]#black + label span {
    background-color: #323232;
  }
  .color-choose input[type="radio"]#white + label span {
    background-color: white;
  }
  .color-choose input[type="radio"]#brown + label span {
    background-color: rgba(95, 5, 5, 0.5);
  }
  .color-choose input[type="radio"]#gray + label span {
    background-color: gray;
  }
  .color-choose input[type="radio"]#yellow + label span {
    background-color:yellow;
  }
  .color-choose input[type="radio"]#orange + label span {
    background-color:orange;
  }

  .color-choose input[type="radio"]#green + label span {
    background-color:green;
  }
.color-choose input[type="radio"]#pink + label span {
    background-color:pink;
  }
  
  .color-choose input[type="radio"]:checked + label span {
    background-image: url(images/check-icn.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  /* Cable Configuration */
  .cable-choose {
    margin-bottom: 20px;
  }
  
  .cable-choose button {
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    color: #5E6977;
    background-color: #fff;
    cursor: pointer;
    transition: all .5s;
  }
  
  .cable-choose button:hover,
  .cable-choose button:active,
  .cable-choose button:focus {
    border: 2px solid #86939E;
    outline: none;
  }
  
  .cable-config {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
  
  .cable-config a {
    color: #358ED7;
    text-decoration: none;
    font-size: 12px;
    position: relative;
    margin: 10px 0;
    display: inline-block;
  }
  .cable-config a:before {
    content: "?";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid rgba(53, 142, 215, 0.5);
    display: inline-block;
    text-align: center;
    line-height: 16px;
    opacity: 0.5;
    margin-right: 5px;
  }
  
  /* Product Price */
  .product-price {
    display: flex;
    align-items: center;
  }
  
  .product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
  }
  
  .cart-btn {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
  }
  .cart-btn:hover {
    background-color: #64af3d;
  }
  
  /* Responsive */
  @media (max-width: 940px) {
    .container {
      flex-direction: column;
      margin-top: 60px;
    }
  
    .left-column,
    .right-column {
      width: 100%;
    }
  
    .left-column img {
      width: 300px;
      right: 0;
      top: -65px;
      left: initial;
    }
  }
  
  @media (max-width: 535px) {
    .left-column img {
      width: 220px;
      top: -85px;
    }
  }

  a:link {text-decoration: none}
  a:hover {color:#F00}
  b {color:#E60000; font-size:20px}
  .button1:active{ transform:translate(0,2px);box-shadow:0 2px gray;}
  .button2:hover span{color:#800;}
  ul.menu li {list-style: none;
        padding: 12px;
        border: solid 1px; 
        border-left:3px solid rgba(255,127,80,1.00);
        border-right:2px solid rgba(255,127,80,0.70);
        border-top:0px;
        border-bottom: 1px dashed rgba(255,127,80,0.70);
            }
  .buttonmenu {height: 40px; width:100%; background:white; border:none; color: #111e6c; text-align: left; font-size: 15px;}
  .buttonmenu span{
      position:relative;
      display:inline-block;
      cursor:pointer;
      transition:0.5s;
  }
  .buttonmenu span:after{
      content:"\00bb";
      position:absolute;
      right:-15px;
      transition:0.5s;
      opacity:0; 
  }
  .buttonmenu:hover span{ color:#F00;
      padding-right:20px;
  }
  .buttonmenu:hover span:after{
      opacity:1;
      right:0;
  }
 
   .shopname {
          color: coral;
           background:none;
           font-size:24px;
           font-weight:bold;
   }
  * {
      box-sizing:border-box
  }
  h2 {
      text-align: center;
      }
      /* Định dạng nội dung Caption */
  .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
      }
  .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 3s;
      animation-name: fade;
      animation-duration: 3s;
  }
  
  @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
  }
  
  @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
  }
    
  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:none;
    color: white;
    text-align: center;
    padding-top: 200px;
  }