@import url("https://fonts.googleapis.com/css?family=Arimo");
body {
  display: flex;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  margin-top: 5%;
  width: 90%;
  display: flex;
  justify-content: center;
  font-family: "Arimo";
  background-color: #eb9478;
  -webkit-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  animation: slideUp 2000ms ease;
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.container {
  width: 65%;
  padding: 5% 10%;
}

h1 {
  align-self: center;
}

form .checkout {
  width: 100%;
}
form .checkout > * {
  margin-top: 20px;
}
form .checkout input {
  width: 100%;
  min-height: 25px;
  border: 0;
  font-size: 1rem;
  letter-spacing: .15rem;
  font-family: "Arimo";
  margin-top: 5px;
  color: #8e2807;
  border-radius: 4px;
}
form .checkout label {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  color: #8e2807;
}
form .checkout h1 {
  font-size: 24px;
  line-height: 10px;
  color: #493b76;
  letter-spacing: 1px;
}
form .checkout h1:nth-of-type(2) {
  margin-top: 10%;
}

.name {
  justify-content: space-between;
  display: flex;
  width: 100%;
}
.name div {
  width: 45%;
}

.address-info {
  display: flex;
  justify-content: space-between;
}
.address-info div {
  width: 30%;
}

.cc-info {
  display: flex;
  justify-content: space-between;
}
.cc-info div {
  width: 45%;
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.btns button {
  margin: 3px 0;
  height: 30px;
  width: 40%;
  color: #cfc9e1;
  background-color: #4a3b76;
  text-transform: uppercase;
  border: 0;
  border-radius: .3rem;
  letter-spacing: 2px;
}
.btns button:hover {
  animation-name: btn-hov;
  animation-duration: 550ms;
  animation-fill-mode: forwards;
}

@keyframes btn-hov {
  100% {
    background-color: #cfc9e1;
    color: #4a3b76;
    transform: scale(1.05);
  }
}
input:focus,
button:focus {
  outline: none;
}

@media (max-width: 736px) {
  .wrapper {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .btns {
    align-items: center;
  }
  .btns button {
    width: 50%;
  }

  form h1 {
    text-align: center;
  }

  .name,
  .address-info,
  .cc-info {
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }
  .name div,
  .address-info div,
  .cc-info div {
    align-items: center;
    flex-direction: column;
    width: 100%;
    display: flex;
  }

  .street,
  .cc-num {
    text-align: center;
  }

  input {
    margin: 5px 0;
    min-height: 30px;
  }
}

/* Responsive */
@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}

@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}

a:link {text-decoration: none}
a:hover {color:#F00}
b {color:#E60000; font-size:20px}
.button1:active{ transform:translate(0,2px);box-shadow:0 2px gray;}
.button2:hover span{color:#800;}
ul.menu li {list-style: none;
      padding: 12px;
      border: solid 1px; 
      border-left:3px solid rgba(255,127,80,1.00);
      border-right:2px solid rgba(255,127,80,0.70);
      border-top:0px;
      border-bottom: 1px dashed rgba(255,127,80,0.70);
          }
.buttonmenu {height: 40px; width:100%; background:white; border:none; color: #111e6c; text-align: left; font-size: 15px;}
.buttonmenu span{
    position:relative;
    display:inline-block;
    cursor:pointer;
    transition:0.5s;
}
.buttonmenu span:after{
    content:"\00bb";
    position:absolute;
    right:-15px;
    transition:0.5s;
    opacity:0; 
}
.buttonmenu:hover span{ color:#F00;
    padding-right:20px;
}
.buttonmenu:hover span:after{
    opacity:1;
    right:0;
}

 .shopname {
        color: coral;
         background:none;
         font-size:24px;
         font-weight:bold;
 }
* {
    box-sizing:border-box
}
h2 {
    text-align: center;
    }
    /* Định dạng nội dung Caption */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    }
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:none;
  color: white;
  text-align: center;
  padding-top: 200px;
}